@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.buttonGreen {
  background-color: #1DBA54;
  padding: 8px;
  margin: 8px;
  width: 10%;
  font-size: large;
}

.buttonRed {
  background-color: #FF3131;
  padding: 8px;
  margin: 8px;
  width: 10%;
  font-size: large;
}

.video {
  width: 100%;
  height: 350px;
  max-width: 1000px;
}